[Unit]
Description=Hodr Power Switch Web Server
After=network.target
[Service]
Environment=NODE_ENV=production NODE_VERSION=24.4.0
WorkingDirectory=%h/POWER
Restart=always
RestartSec=2
ExecStart=%h/.nvm/nvm-exec npm run start

[Install]
WantedBy=default.target